# Django
Django>=5.2,<6.0

# Database
psycopg>=3.0
django-environ>=0.11
dj-database-url>=2.0

# Auth
django-allauth>=0.70
requests>=2.31
PyJWT>=2.8
cryptography>=42.0

# HTMX
django-htmx>=1.20

# API
djangorestframework>=3.15

# Utilities
python-dotenv>=1.0
